*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties



# Rác của C#
bin/
obj/
.vs/

# Rác của Android/Java
.idea/
.gradle/
build/
*.iml

# Rác khác
node_modules/
*.js.map